@font-face{
    font-family: prof_jorge;
    src: url("/sherezadeatienzar/css/fonts/Prof_Jorge.ttf");
}
@font-face{
    font-family: caviar_dreams;
    src: url("/sherezadeatienzar/css/fonts/CaviarDreams.ttf");
}

body#home {
    background-image: url("/sherezadeatienzar/img/Sherezade_025_Web.jpeg");
    background-repeat: no-repeat;
    background-size: 1300px 867px;
    background-position-x: -500px;
    background-position-y: 100px;
}


#nombre{
    font-family: prof_jorge;
}

h1{
    font-size: 36pt !important;
}

small {
    font-size: 25pt !important;
}

#menu {
    background-color: transparent;
}

#menu li {
    margin: 2% 0;
}